<nav>
  <div class="navbar">
    <a href="#" class="navbar-logo"><fa-icon [icon]="['fas', 'anchor']"></fa-icon></a>
    <div class="navbar-section">
      <ul class="navbar-section-menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home" >Home</a></li>
        <li routerLinkActive="active"><a routerLink="/todos">Todos</a></li>
        <li routerLinkActive="active"><a routerLink="/private">Private</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/pg']">Playground</a></li>
      </ul>
      <ul class="navbar-section-auth">
        <li routerLinkActive="active"><a routerLink="/login">Sign in</a></li>
        <li routerLinkActive="active"><a href="#">Sign out</a></li>
        <li routerLinkActive="active"><a routerLink="/register">Sign up</a></li>
      </ul>
    </div>
    <div class="navbar-burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>
<!--
[routerLinkActiveOptions]="{exact: true} - can be not set
-------------
[routerLink]="['/forms']" - ability to pass multiple strings, e.g.
[routerLink]="['/forms', 'app', 'one]" will result in '/forms/app/one'
-->
