@import '../../../styles/utils';
@import '../../../styles/variables';

:host {
  box-sizing: border-box;
  display: block;

  nav {
    background-color: $header-bg;
    padding: 0 10px;

    .navbar {
      width: 100%;
      height: toRem(60);
      display: flex;
      align-items: center;

      .navbar-logo {
        color: $nav-font-color;
        margin-right: toRem(12);
      }

      .navbar-section {
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
        }

        li {
          cursor: pointer;
          margin-right: toRem(12);

          a {
            color: $nav-font-color;
            text-decoration: none;
            transition: color .4s, border-color .4s;

            &:hover {
              color: $nav-font-color-hover;
            }
          }

          &.active {
            a {
              color: red;
            }
          }
        }

        .navbar-section-menu { }

        .navbar-section-auth {
          li:last-child > a {
            padding: toRem(7);
            border: 1px solid $nav-font-color;
            border-radius: 5px;

            &:hover {
              border-color: $nav-font-color-hover;
            }
          }
        }
      }
    }

    .navbar-burger {
      display: none;
      cursor: pointer;
      padding: toRem(3) toRem(10);
      border: 1px solid $nav-font-color;
      border-radius: 5px;
      div {
        width: toRem(35);
        height: toRem(4);
        background-color: $nav-font-color;
      }
    }

    @media screen and (max-width: 576px) {
      .navbar-burger {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        div {
          margin: 4px 0;
        }
      }
      .navbar-section {
        display: none !important;
      }
    }
  }

}


