<nav class="navbar">
  <div class="navbar-section">
    <div class="navbar-section-left">
      <div class="navbar-burger">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </div>
      <div>
        <ul class="navbar-section-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home" >Home</a></li>
          <li routerLinkActive="active"><a routerLink="/todos">Todos</a></li>
          <li routerLinkActive="active"><a routerLink="/private">Private</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/pg']">Playground</a></li>
        </ul>
      </div>
    </div>
    <div>
      <ul class="navbar-section-auth">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign out</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
